@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Josefin+Sans&family=Lexend+Deca&family=Livvic&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{

    /*      Theme colors        */
    --headline-color: #3f4954;
    --paragraph-color : #686666da;
    --footer-bg-color: #0f0f0f;
    --white: #ffffff;
    --nav-hover: #104f55;
    --social-hover: #a1c4cf;

    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*      theme font-family   */
    --primary-fonts: 'Abel', sans-serif;
    --headline-fonts: 'Anton', sans-serif;
    --title-fonts: 'Lexend Deca', sans-serif;
    --btn-fonts : 'Livvic', sans-serif;
}

/* ---------------------------- Global Classes ---------------------------- */
body{
    font-family: var(--primary-fonts);
    color: var(--headline-color);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.btn{
    font-family: var(--btn-fonts);
    background: var(--sky);
    padding: 0.5em 1.5em;
    border: none;
    cursor: pointer;
}
.rounded-btn{
    border-radius: 1.5em;
}

/* ---------------------------- Navbar ---------------------------- */
.nav-bg, .nav-sm{
    /* background-color: #a1c4fd; */
    height: 4rem;
    padding: 0 2rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--white);
}
.nav-bg{
    display: none;
}
.nav-sm{
    overflow: hidden;
    transition: 0.5s;
}
.expand{
    height: 33rem;
}
.nav-shrink{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .brand-logo{
    font-family: var(--title-fonts);
    color: var(--headline-color);
    font-size: 1.5rem;
}
nav .bar-icon{
    font-size: 1.5rem;
}
.nav-expand{
    font-size: 1.2rem;
}
.nav-expand ul{
    padding: 1rem 3rem;
}
.nav-expand ul li{
    margin: 2.7rem 0;
}
nav .social{
    display: flex;
    gap: 0.7rem;
}
nav .social-icons{
    cursor: pointer;
}
nav .social-icons:hover{
    color: var(--social-hover);
}
nav .nav-links{
    color: var(--headline-color);
}

/* ---------------------------- Banner Section ---------------------------- */
.banner{
    position: relative;
    overflow: hidden;
}

.banner .banner-bg{
    width: 1520px;
    height: 130vh;

    /* width: 100%; */
    min-height: 35vh;
}

.banner-svg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1600px;
}

.banner-text{
    position: absolute;
    width: 95%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.banner-text h1{
    font-size: 1.3rem;
}
.banner-text h3{
    font-size: 2.5rem;
    font-family: var(--title-fonts);
    margin: 0.5rem 0 2rem;
}
.banner-text button{
    font-size: 1.2rem;
}
.banner-text button:hover{
    border: solid white 1px;
    background: transparent;
    color: white;
}

.carousel-container{
    border: solid blue;
    padding: 5rem;
}
#carousel{
    border: solid green;
    text-align: center;
}
.owl-nav{
    width: 80px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: #FFF;
    color: var(--social-hover);
    text-decoration: none;
}
.nav-arrows{
    font-size: 1.7rem;
}
.carousel-item{
    border: red solid;
    width: 350px;
}
.carousel-item .carousel-img{
    
}







/* ---------------------------- Media Queries ---------------------------- */
@media (min-width : 750px){
    .nav-sm{
        display: none;
    }
    .nav-bg{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-bg ul{
        display: flex;
    }
    .nav-bg ul li{
        padding: 0 1rem;
        height: 4rem;
        padding-top: 1.25rem;
        /* display: flex;
        align-items: center; */
    }
    .nav-bg ul li:hover{
        background-color: var(--nav-hover);
    }
    .nav-bg ul li:hover a{
        color: var(--white);
    }
}