@import url('/css/fonts.css');

:root{
    --dark-col1: #674188;
    --light-col1: #F7EFE5;
    --light-col2: #C3ACD0;
    --extra-light-col: #FFFBF5;
    --extra-dark-col: black;
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--light-col1);
    font-family: 'Josefin Sans';
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/* ---------------- Navigation Bar ---------------- */
.navbar{
    background-color: var(--dark-col1);
    color: var(--extra-light-col);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .brand-logo{
    height: 70px;
}
.navbar .bar-icon{
    font-size: 1.5rem;
}

.nav-toggle{
    /* position: absolute; */
    background-color: var(--light-col2);
    text-align: right;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    left: 101%;
    transition: 0.2s;
}
.slide-in{
    left: 0;
}
.nav-toggle .nav-toggle-link{
    color: var(--dark-col1);
}
.nav-toggle li:nth-child(1){
    margin-bottom: 20px;
}


/* ---------------- Login ---------------- */

.form-container{
    background-color: var(--light-col2);
    width: 90%;
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    border-radius: 20px;
}

.form-container form{
    border: solid var(--dark-col1);
    padding: 2rem 1rem 1rem;
    width: 100%;
    border-radius: 20px;
    position: relative;
}

.form-title{
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 15px;
    transform: translateY(-50%);
    background-color: var(--light-col2);
}

.input-box{
    width: 100%;
    position: relative;
    margin: 1rem auto 2rem;
}
.input-box input{
    height: 2.5rem;
    width: 100%;
    background-color: var(--light-col2);
    border: none;
    border-bottom: 1px solid var(--dark-col1);
    padding-left: 20px;
}
.input-box input:focus{
    border: none;
    border-radius: 5px;
    outline: 2px solid var(--dark-col1);
}
.input-box label{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--dark-col1);
    transition: 0.2s;
    padding: 2px;
}
.input-box input:focus + label{
    top: 0;
    left: 7px;
    background-color: var(--light-col2);
}

.remember-forget-pwd-box{
    display: flex;
    justify-content: space-between;
}
.remember-forget-pwd-box a{
    color: blue;
}

.submit-box{
    width: fit-content;
    margin: 1.5rem auto;
}
.submit-box input{
    background-color: var(--dark-col1);
    color: var(--light-col1);
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.signup-box a{
    color: blue;
}