@import url('/css/fonts.css');

:root{
    --dark-col1: #674188;
    --light-col1: #F7EFE5;
    --light-col2: #C3ACD0;
    --extra-light-col: #FFFBF5;
    --extra-dark-col: black;
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--light-col1);
    font-family: 'Josefin Sans';
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/* ---------------- Navigation Bar ---------------- */
.navbar{
    background-color: var(--dark-col1);
    color: var(--extra-light-col);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .brand-logo{
    height: 70px;
}
.navbar .bar-icon{
    font-size: 1.5rem;
}

.nav-toggle{
    /* position: absolute; */
    background-color: var(--light-col2);
    text-align: right;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    left: 101%;
    transition: 0.2s;
}
.slide-in{
    left: 0;
}
.nav-toggle .nav-toggle-link{
    color: var(--dark-col1);
}
.nav-toggle li:nth-child(1){
    margin-bottom: 20px;
}